// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-bar {
  height: 60px;
  line-height: 150px;
}

.formulaire {
	padding-top: 20px;
}

.container {
	padding-top: 20px;
	padding-left: 40px;
}