<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"><img src="/assets/kaduce_logo.png" width="60px">Kaduce</a></h1>
    </li>
    <li class="toggle-topbar "><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="<%= new_product_path %>">Créer un Produit</a></li>
      <li class="active"><a href="<%= products_slideshow_path %>">Lire le Slideshow</a></li>
      <li><a href="<%= root_path%>">Retour à l'accueil</a></li>
    </ul>

  </section>
</nav>